.card 
{
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;}

h2 
{
    color: #333;
}
  
p
{
    color: #666;
}
/* styles.css */
.card_content {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Alinha os cards ao redor do espaço disponível */
  }